:root {
  --color-scale-gray-0: #f0f6fc;
  --color-scale-gray-1: #c9d1d9;
  --color-scale-gray-2: #b1bac4;
  --color-scale-gray-3: #8b949e;
  --color-scale-gray-4: #6e7681;
  --color-scale-gray-5: #484f58;
  --color-scale-gray-6: #30363d;
  --color-scale-gray-7: #21262d;
  --color-scale-gray-8: #161b22;
  --color-scale-gray-9: #0d1117;
  --color-scale-blue-0: #cae8ff;
  --color-scale-blue-1: #a5d6ff;
  --color-scale-blue-2: #79c0ff;
  --color-scale-blue-3: #58a6ff;
  --color-scale-blue-4: #388bfd;
  --color-scale-blue-5: #1f6feb;
  --color-scale-blue-6: #1158c7;
  --color-scale-blue-7: #0d419d;
  --color-scale-blue-8: #0c2d6b;
  --color-scale-blue-9: #051d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 62.5%;
  background-color: var(--color-scale-gray-8);
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}
.header_name {
  color: var(--color-scale-gray-1);
  font-size: 2.5rem;
}
.header_name > span {
  font-size: 1.5rem;
  color: var(--color-scale-blue-1);
}
.header_action > a {
  text-decoration: none;
  background-color: var(--color-scale-gray-5);
  color: var(--color-scale-gray-1);
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  font-weight: 600;
  font-size: 0.8rem;
}

main {
  width: 80%;
  margin: auto;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  height: 50vh;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.pagination-info {
  color: var(--color-scale-gray-2);
  font-size: 0.9rem;
}
.pagination-info > span {
  font-weight: 800;
}
.pagination-btn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--color-scale-gray-1);
  padding: 0.2rem 1rem;
}
.pagination-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pokemon_collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;
}
.pokemon_collection-item {
  text-decoration: none;
}
.pokemon_collection-image {
  border: 1px solid var(--color-scale-gray-3);
  border-radius: 0.6rem;
}
.pokemon_collection-image-item {
  width: 100%;
}
.pokemon_collection-info {
  margin: 0.8rem 0 0.8rem 0;
}
.pokemon_collection-info > span {
  background-color: var(--color-scale-gray-1);
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
}
.pokemon_collection-name {
  color: var(--color-scale-gray-2);
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

.pokemon-info {
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-column-gap: 5rem;
}
.pokemon-info-img {
  border: 1px solid var(--color-scale-gray-1);
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}
.pokemon-info-img > img {
  width: 100%;
}
.pokemon-info-btn {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.8rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.8rem;
}
.pokemon-info-btn-capture {
  background-color: #1A381D;
}
.pokemon-info-desc-name {
  font-size: 2.2rem;
  color: var(--color-scale-gray-2);
  border-bottom: 0.1rem solid var(--color-scale-gray-2);
}
.pokemon-info-desc-count {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  margin-top: 3rem;
}
.pokemon-info-desc-count-item {
  border: 1px solid var(--color-scale-gray-3);
  padding: 1rem;
}
.pokemon-info-desc-count-item > h5 {
  color: var(--color-scale-gray-1);
  font-size: 0.9rem;
}
.pokemon-info-desc-count-item > h2 {
  color: var(--color-scale-blue-6);
  font-weight: 800;
  font-size: 1.2rem;
}
.pokemon-info-desc-count-item > div {
  color: var(--color-scale-gray-4);
}
.pokemon-info-desc-type {
  margin-top: 3rem;
}
.pokemon-info-desc-type > h3 {
  color: var(--color-scale-gray-2);
  font-size: 1rem;
  margin-bottom: 1rem;
}
.pokemon-info-desc-type > span {
  background-color: var(--color-scale-gray-2);
  padding: 0.4rem 1rem;
}
.pokemon-info-desc-abilities {
  margin-top: 3rem;
}
.pokemon-info-desc-abilities > h3 {
  color: var(--color-scale-gray-2);
  font-size: 1rem;
  margin-bottom: 1rem;
}
.pokemon-info-desc-abilities > span {
  background-color: var(--color-scale-gray-2);
  padding: 0.4rem 1rem;
}
.pokemon-info-desc-abilities > span:not(:last-child) {
  margin-right: 0.9rem;
}
